In [3]:
import pandas as pd

In [4]:
import numpy as np

In [7]:
data = pd.read_csv('/Users/vidhudinil/Downloads/StudentsPerformance.csv',encoding='ISO-8859-1')

In [9]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [12]:
data.groupby(["gender"]).size()

gender
female    518
male      482
dtype: int64

In [87]:
data.groupby(["parental level of education"]).size()

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
dtype: int64

In [38]:
Sum =data.groupby("gender")['math score'].sum()

In [39]:
Sum

gender
female    32829
male      33172
Name: math score, dtype: int64

In [42]:
Math_avg = data.groupby("gender")['math score'].mean()

In [43]:
Math_avg

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [45]:
reading_avg = data.groupby("gender")['reading score'].mean()

In [46]:
reading_avg

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [48]:
writing_score = data.groupby("gender")['writing score'].mean()

In [49]:
writing_score

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

In [51]:
Math_avg1 = data.groupby("test preparation course")['math score'].mean()

In [53]:
Math_avg1

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [54]:
writing_score = data.groupby("test preparation course")['writing score'].mean()

In [55]:
writing_score

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

In [58]:
reading_avg1 = data.groupby("test preparation course")['reading score'].mean()

In [59]:
reading_avg1

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [67]:
Math_var1 = data.groupby("test preparation course")['math score'].var()

In [68]:
Math_var1

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64

In [69]:
reading_var1 = data.groupby("test preparation course")['reading score'].var()

In [70]:
reading_var1

test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64

In [64]:
writing_var1 = data.groupby("test preparation course")['writing score'].var()

In [66]:
writing_var1

test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

In [72]:
Math_var = data.groupby("gender")['math score'].var()

In [74]:
Math_var

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64

In [76]:
writing_var = data.groupby("gender")['writing score'].var()

In [78]:
writing_var

gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

In [80]:
reading_var = data.groupby("gender")['reading score'].var()

In [81]:
reading_var

gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64

In [ ]:
** Top 25% students

In [83]:
Top  = data['math score'].quantile(q=0.75)

In [84]:
Top

77.0

In [ ]:
** All students with greater than 77 in maths can be given bonus points

In [85]:
data[data['math score'].ge(Top)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
414,female,group A,high school,free/reduced,completed,77,88,85
415,female,group B,master's degree,free/reduced,completed,77,97,94
416,female,group B,bachelor's degree,free/reduced,none,77,85,87
417,female,group B,master's degree,standard,none,77,90,84
418,female,group B,high school,standard,completed,77,82,89
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100