In [1]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
data = pd.read_csv('/Users/vidhudinil/Downloads/Sales_add.csv')

In [6]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [51]:
data.shape

(22, 5)

In [12]:
data.mean()

/var/folders/2y/gjzf371j7ynbhflhtwb0v2mr0000gn/T/ipykernel_2085/531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [13]:
from statsmodels.stats.weightstats import ztest

In [ ]:
## the null hypothesis is no increase in sales due to investing in digital marketing

In [23]:
from scipy.stats import ttest_ind

In [35]:
t_stat1,p_value1=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [36]:
p_value1

2.614368006904645e-16

In [42]:
if p_value1<0.05:
    print('Null hypo rejected')
else:
    print('Null hypo accepted')

Null hypo rejected

In [ ]:
## Null hypo is Region and Manager are not dependent

In [41]:
from scipy.stats import chi2_contingency

In [43]:
categorical_col=['Region','Manager']

In [44]:
categorical_col

['Region', 'Manager']

In [46]:
chisqt = pd.crosstab(data.Region,data.Manager, margins=True)
print(chisqt)

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [47]:

value = np.array([chisqt.iloc[0][0:5].values,
                  chisqt.iloc[1][0:5].values])

In [48]:
print(chi2_contingency(value)[0:3])

(0.6921428571428572, 0.8750504542399697, 3)

In [ ]:
## 0.875 is the pvalue,0.069 is the statistical value and 3 is the number of freedom
## As the p-value is greater than 0.05, we accept the NULL hypothesis